<launch>
  <!--Include description and control launch files-->
  <include file="$(find obj_recognition)/launch/robot_description.launch"/>
  <include file="$(find obj_recognition)/launch/robot_control.launch"/>

  <!--Launch a gazebo world-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <!--spawn a robot in gazebo world-->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
  args="-urdf -param robot_description -x 0 -y 1.8 -z 0 -R 0 -P 0 -Y 0 -model obj_recognition"/>

  <!-- cloud transformer-->
  <node name="cloud_transformer" pkg="obj_recognition" type="cloud_transformer" respawn="false"/>

  <!-- The feature extractor node -->
  <node name="feature_extractor" pkg="obj_recognition" type="feature_extractor" respawn="false"/>

</launch>
